<div class="colab">
  <a routerLink="/colab" (click)="aparecer()">
    <h5>Colaboradores</h5>
  </a>
</div>

<div @aparecer *ngIf="popup === true" class="pp-background">
  <div class="pp-body">
    <a class="pp-close" routerLink="/" (click)="sair()">
      <span class="material-icons">close</span>
    </a>
    <h1 class="w-100 text-center mb-3">Colaboradores</h1>
    <div class="pp-cards">
      <div class="pp-card">
        <img
          ngSrc="assets/danilo.webp"
          alt="Imagem representativa de Danilo"
          width="240"
          height="240"
          priority
        />
        <h2>Danilo Lima</h2>
        <ul>
          <li>Programação</li>
          <li>Design</li>
        </ul>
        <a
          mat-flat-button
          color="primary"
          href="mailto:danilo.lima124@etec.sp.gov.br"
          target="_blank"
        >
          EMAIL
        </a>
      </div>
      <div class="pp-card">
        <img
          ngSrc="assets/lucca.webp"
          alt="Imagem representativa de Lucca"
          width="240"
          height="240"
          priority
        />
        <h2>Lucca Leal</h2>
        <ul>
          <li>Idealização</li>
          <li>Pesquisas</li>
        </ul>
        <a
          mat-flat-button
          color="primary"
          href="mailto:danilo.lima124@etec.sp.gov.br"
          target="_blank"
        >
          EMAIL
        </a>
      </div>
    </div>
  </div>
</div>
