.gatoCard {
  display: inline-block;
  background-color: var(--bs-tertiary-bg);

  width: calc(((100vw - 90px - 10vh) / 2) / 3 - 2em);
  margin-bottom: 1.5em;
  border-radius: 1.5em;
  overflow: hidden;

  .gatoImg {
    position: relative;
    width: inherit;
    aspect-ratio: 1 / 1;
  }

  .gatoLabel {
    margin: 1em 1.5em;
  }
}
