<div class="main">
  <div class="pt1">
    <img
      class="mb-4"
      ngSrc="/assets/icon.webp"
      alt="Logo do Gatopédia"
      width="304"
      height="304"
      priority
    />
    <h1>Gatopédia!</h1>
  </div>
  <div class="divider"></div>
  <div class="pt2 my-3">
    <h1 class="w-100 text-center mt-3">Login/Cadastro</h1>
    <div id="senhaIncorreta" class="alert alert-danger">Senha incorreta</div>
    <div id="naoExiste" class="alert alert-warning">Usuário não existe</div>
    <div id="desconhecido" class="alert alert-warning">Erro desconhecido</div>
    <div id="jaExiste" class="alert alert-warning">Usuário já existe</div>
    <div id="sucessoCadastro" class="alert alert-success">
      Sucesso! Agora é só repetir as<br />informações e clicar em Entrar
    </div>
    <form id="auaumiau" class="px-5" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Nome de usuário:</label>
        <div class="input-group" id="usernameVal">
          <span class="input-group-text" style="border-radius: 50px 0 0 50px">
            &#64;
          </span>
          <input
            name="username"
            style="border-radius: 0 50px 50px 0"
            type="text"
            class="form-control"
            id="username"
            required
            maxlength="25"
            minlength="4"
            autocomplete="username"
            pattern="^[^0-9]+$ | [a-zA-Z0-9]+"
          />
          <div id="vazio" class="invalid-feedback">*Obrigatório</div>
          <div id="invalido" class="invalid-feedback">
            Caractere(s) inválido(s)!
          </div>
          <div id="pequeno" class="invalid-feedback">Nome muito pequeno!</div>
          <div id="numerozes" class="invalid-feedback">só números? sério?</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <div class="input-group">
          <input
            name="senha"
            style="border-radius: 50px 0 0 50px"
            type="password"
            class="form-control"
            id="senha"
            autocomplete="current-password"
          />
          <a style="text-decoration: none; cursor: pointer">
            <span class="input-group-text" style="border-radius: 0 50px 50px 0">
              <span class="material-icons" id="verSenha">visibility_off</span>
            </span>
          </a>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input gatopediaBlue"
            name="lembrar"
            type="checkbox"
            id="lembrar"
            [value]="true"
          />
          <label class="form-check-label" for="lembrar">
            Lembre-se de mim!
          </label>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <div class="btn-group" role="group">
          <button
            type="submit"
            class="btn btn-gatopediaBlue me-1 rounded-pill rounded-end"
            id="cadastrar"
          >
            <span *ngIf="!cadastrar">Cadastrar</span>
            <mat-spinner *ngIf="cadastrar" diameter="20"></mat-spinner>
          </button>
          <button
            type="submit"
            class="btn btn-gatopediaBlue me-1 rounded-pill rounded-start"
            id="entrar"
          >
            <span *ngIf="!entrar">Entrar</span>
            <mat-spinner *ngIf="entrar" diameter="20"></mat-spinner>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<button mat-icon-button class="mudarTema" (click)="mudarTema()">
  <mat-icon *ngIf="modoAtual == ModoTema.escuro; else escuro">
    light_mode
  </mat-icon>
  <ng-template #escuro>
    <mat-icon>dark_mode</mat-icon>
  </ng-template>
</button>
<button mat-icon-button class="miau" (click)="miau()">
  <mat-icon> pets </mat-icon>
</button>
<audio src="/assets/miau.m4a" id="audio" [volume]="0.2"></audio>

<popup-colab />
