<div class="main">
  <div class="pt1">
    <img class="mb-4" src="assets/icon.png" alt="Logo do Gatopédia" />
    <h1>Gatopédia!</h1>
  </div>
  <div class="divider"></div>
  <div class="pt2 my-3">
    <h1 class="w-100 text-center">Login</h1>
    <form id="auaumiau" class="px-5" novalidate>
      <div
        id="warning"
        style="transition: transform 1s; transform: scaleY(0)"
      ></div>
      <div class="mb-3">
        <label for="username" class="form-label">Nome de usuário:</label>
        <div class="input-group">
          <span class="input-group-text" style="border-radius: 50px 0 0 50px">
            @
          </span>
          <input
            name="username"
            style="border-radius: 0 50px 50px 0"
            type="text"
            class="form-control"
            id="username"
            required
            maxlength="25"
          />
          <div id="vazio" class="invalid-feedback">*Obrigatório</div>
          <div id="vazio" class="invalid-feedback">*Obrigatório</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <div class="input-group">
          <input
            name="senha"
            style="border-radius: 50px 0 0 50px"
            type="password"
            class="form-control"
            id="senha"
          />
          <a style="text-decoration: none; cursor: pointer">
            <span class="input-group-text" style="border-radius: 0 50px 50px 0">
              <span class="material-icons" id="verSenha">visibility_off</span>
            </span>
          </a>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            name="lembrar"
            type="checkbox"
            id="lembrar"
            value="true"
          />
          <label class="form-check-label" for="lembrar">
            Lembre-se de mim!
          </label>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <a href="registrar.html" class="btn btn-outline-primary me-2">
          Registrar
        </a>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>
  </div>
</div>
<app-colab />
