.divider {
  height: 80%;
  align-self: center;
  width: 1px;
  background-color: var(--bs-body-color);
}

.pt1 {
  margin-top: 1rem;
  padding: 0 3rem 0 3rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pt2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;

  .alert {
    position: fixed;
    top: calc(5.8rem + 40px);
    right: 7.5rem;
    transform: scaleY(0);
    transition: transform 500ms;

    &#sucessoCadastro {
      right: 5rem;
    }
  }
}

.mudarTema {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
}

.miau {
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px 0 0 15px;
}

div.main {
  padding: 20px 0;
  display: flex;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bs-body-bg);
  border-radius: 20px;
  z-index: 6;
  transition: box-shadow 250ms;
}

*,
*::after,
*::before {
  box-sizing: content-box;
}

.mdc-circular-progress {
  --mdc-circular-progress-active-indicator-color: white;
}
