@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/variables-dark';
@import '../../../../node_modules/bootstrap/scss/mixins';

section {
  margin-top: 2.5vh;
  height: 95vh;
  margin-left: 2.5vh;
  border-radius: 1.5em;
  width: calc((100vw - 90px - 10vh) / 2);
  background-color: var(--bs-secondary-bg);
}

#deleteAcc {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--bs-danger-bg-subtle);
  color: var(--bs-body-color);
  width: 500px;
  padding: 25px;
  border-radius: 25px;

  h1 {
    margin-bottom: 1em;
    font-weight: bold;
  }

  label, p {
    margin-bottom: .5em;
    font-size: large;
  }

  .botoesDelete {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 10px;
      padding: 5px 15px;
      transition: border-radius .2s cubic-bezier(.2, 0, 0, 1), scale 150ms;

      &:first-child {
        margin-right: 1.5em;

        background-color: transparent;
        border: 2px solid var(--bs-body-color);
        color: var(--bs-body-color);
      }

      &:last-child {
        background-color: var(--bs-danger);
        border: none;

        color: white;
      }

      &:hover {
        border-radius: 30px;
      }

      &:active {
        scale: .95;
      }
    }
  }
}

#photoEdit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  background-color: var(--bs-body-bg);
  border-radius: 30px;
  padding: 30px;

  #crop {
    max-width: 100%;
    max-height: 70vh;

    height: 80%;
    width: 100%;
  }

  button {
    border-radius: 10px;
    width: max-content;
    height: max-content;
    padding: 5px 15px;
    transition: border-radius .2s cubic-bezier(.2, 0, 0, 1), scale 150ms;

    color: var(--bs-body-color);
    background-color: transparent;
    border: 1px solid var(--bs-body-color);
    font-size: large;

    &:last-child {
      margin-left: 1em;
      background-color: var(--bs-body-color);
      border: none;
      color: var(--bs-body-bg);
    }

    &:hover {
      border-radius: 50px;
    }

    &:active {
      scale: .9;
    }
  }

}
