<div style="display: flex; flex-direction: row-reverse; justify-content: flex-end">
  <section id="forum">
    <gato-forum></gato-forum>
  </section>
  <section id="wiki">
    <gato-wiki></gato-wiki>
  </section>

  <gato-nav (mudarTema)="mudarTema()" (toggleDelete)="toggleDelete()" (toggleProfileEdit)="toggleProfileEdit()"
            [modoAtual]="modoAtual" [popupProfile]="popupProfile" [userInfo]="userInfo"
            [username]="username" (toggleProfile)="toggleProfile()" [popupConfig]="popupConfig"
            (toggleConfig)="toggleConfig()"></gato-nav>

  <div @aparecer class="bgBlur" *ngIf="popupProfileEdit">
    <div style="position: relative; width: 150px; height: 150px">
      <img ngSrc="assets/gato.svg" alt="" fill priority/>
    </div>
  </div>
  <div @aparecer id="photoEdit" *ngIf="popupProfileEdit">
    <div>
      <!--suppress AngularNgOptimizedImage -->
      <img src="" alt="" id="crop">
    </div>

    <div style="display: flex; justify-content: flex-end; margin-top: 1.5em">
      <button (click)="toggleProfileEdit()" id="cancelarCrop">CANCELAR</button>
      <button id="salvarCrop">SALVAR</button>
    </div>
  </div>

  <div class="bgBlur" @aparecer *ngIf="popupDelete" (click)="toggleDelete()">
    <div style="position: relative; width: 150px; height: 150px">
      <img ngSrc="assets/gato.svg" alt="" fill priority/>
    </div>
  </div>
  <div id="deleteAcc" @aparecer *ngIf="popupDelete">
    <h1>Sentirei saudades :,(</h1>
    <p>Quando sua conta for deletada, suas postagens e comentários serão removidos da plataforma.</p>
    <label for="senha">Para continuar, insira abaixo sua senha:</label>
    <div class="input-group">
      <input
        name="senha"
        style="border-radius: 50px 0 0 50px"
        type="password"
        class="form-control"
        id="senha"
        autocomplete="current-password"
      />
      <a style="text-decoration: none; cursor: pointer" (mouseover)="mouseIn($event)" (mouseleave)="mouseOut($event)">
        <span class="input-group-text" style="border-radius: 0 50px 50px 0">
          <span class="material-icons" id="verSenha">visibility_off</span>
        </span>
      </a>
    </div>

    <div class="botoesDelete">
      <button (click)="toggleDelete()">CANCELAR</button>
      <button (click)="apagarConta()">APAGAR MINHA CONTA</button>
    </div>
  </div>
</div>
